.bash_history
.cache/
.compiz*
.config/
.dbus/
.dmrc
.face
.fontconfig/
.gconf/
.gnome/
.gnome2/
.goutputstream*
.gstreamer*
.gtk-bookmarks
.ICEauthority
.local/
.mission-control/
.mozilla/
.pki/
.pulse/
.pulse-cookie
.scid/
.ssh/
.thumbnails/
.viminfo
.Xauthority
.xsession-errors*
Downloads/
examples.desktop
Workspace/
*.swp
