.cache/
.config/
.dbus/
.dmrc
.face
.gconf/
.gnome/
.gnome2/
.gtk-bookmarks
.ICEauthority
.local/
.mission-control/
.mozilla/
.pki/
.pulse/
.pulse-cookie
.ssh/
.viminfo
.Xauthority
.xsession-errors
Downloads/
examples.desktop
Workspace/
